{lib_dirs, ["apps", "deps"]}.
{erl_opts, [debug_info, {i, "apps"}, warnings_as_errors]}.
{deps, [
  {alsa, ".*", {git, "git@git.erlyvideo.org:video/alsa.git", "master"}},
  {h264, ".*", {git, "git@git.erlyvideo.org:video/h264.git", "master"}},
  {jpeg, ".*", {git, "git@git.erlyvideo.org:video/jpeg.git", "master"}},
  {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "master"}},
  {uvc, ".*", {git, "git@git.erlyvideo.org:video/uvc.git", "master"}}
]}.
{sub_dirs, [
	"apps/erlmedia",
	"apps/rtmp",
	"apps/rtp",
	"apps/rtsp",
  "apps/publisher"
]}.
{pre_hooks, [{compile, "rm -f src/._*.erl"}]}.
