{lib_dirs, ["apps", "deps"]}.
{erl_opts, [debug_info, {i, "apps"}, warnings_as_errors]}.
{deps, [
  {alsa, ".*", {git, "git://github.com/erlyvideo/alsa.git"}},
  {h264, ".*", {git, "git://github.com/erlyvideo/h264.git"}},
  {jpeg, ".*", {git, "git://github.com:erlyvideo/jpeg.git"}},
  {uvc,  ".*", {git, "git://github.com/erlyvideo/uvc.git"}}
  {lager,".*", {git, "https://github.com/basho/lager", "0b797bc"}}
]}.
{sub_dirs, [
	"apps/erlmedia",
	"apps/amf",
	"apps/rtmp",
	"apps/rtp",
	"apps/rtsp",
  "apps/publisher"
]}.
{pre_hooks, [{compile, "rm -f src/._*.erl"}]}.
