{lib_dirs, ["../../erlyvideo/apps", "../erlyvideo/apps", "/opt/erlyvideo/lib", "apps", "deps"]}.
{deps, [
  {misultin, ".*", {git, "https://github.com/ostinelli/misultin.git", "master"}},
  {alsa, ".*", {git, "git@git.erlyvideo.org:video/alsa.git", "master"}},
  {h264, ".*", {git, "git@git.erlyvideo.org:video/h264.git", "master"}},
  {jpeg, ".*", {git, "git@git.erlyvideo.org:video/jpeg.git", "master"}},
  {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "master"}},
  {uvc, ".*", {git, "git@git.erlyvideo.org:video/uvc.git", "master"}}
]}.
{sub_dirs, [
  "apps/publisher"
]}.
{pre_hooks, [{compile, "rm -f src/._*.erl"}]}.
