{lib_dirs, ["apps", "deps"]}.
{erl_opts, [debug_info, {i, "apps"}, warnings_as_errors]}.
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager", "0b797bc"}}
]}.
{sub_dirs, [
	"apps/erlmedia",
	"apps/amf",
	"apps/rtmp",
	"apps/rtp",
	"apps/rtsp",
  "apps/publisher"
]}.
{pre_hooks, [{compile, "rm -f src/._*.erl"}]}.
{erl_opts, [debug_info, {i, "apps"}, {parse_transform, lager_transform}, warnings_as_errors]}.
